<custom-style>
    <style>

        html {
            --lumo-border-radius: calc(var(--lumo-size-m) / 2);
            --lumo-primary-text-color: rgb(114, 22, 243);
            --lumo-primary-color-50pct: rgba(114, 22, 243, 0.5);
            --lumo-primary-color-10pct: rgba(114, 22, 243, 0.1);
            --lumo-error-text-color: rgb(255, 56, 103);
            --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
            --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
            --lumo-success-text-color: rgb(20, 184, 143);
            --lumo-success-color-50pct: rgba(20, 184, 143, 0.5);
            --lumo-success-color-10pct: rgba(20, 184, 143, 0.1);
            --lumo-primary-color: hsl(265, 90%, 52%);
            --lumo-error-color: hsl(346, 100%, 61%);
            --lumo-success-color: hsl(165, 80%, 40%);
            --lumo-header-text-color: hsl(285, 35%, 15%);
            --lumo-body-text-color: hsla(285, 40%, 16%, 0.94);
            --lumo-secondary-text-color: hsla(285, 42%, 18%, 0.72);
            --lumo-tertiary-text-color: hsla(285, 45%, 20%, 0.5);
            --lumo-disabled-text-color: hsla(285, 50%, 22%, 0.26);
        }

        [theme~="dark"] {
            --lumo-shade-5pct: rgba(7, 6, 15, 0.05);
            --lumo-shade-10pct: rgba(7, 6, 15, 0.1);
            --lumo-shade-20pct: rgba(7, 6, 15, 0.2);
            --lumo-shade-30pct: rgba(7, 6, 15, 0.3);
            --lumo-shade-40pct: rgba(7, 6, 15, 0.4);
            --lumo-shade-50pct: rgba(7, 6, 15, 0.5);
            --lumo-shade-60pct: rgba(7, 6, 15, 0.6);
            --lumo-shade-70pct: rgba(7, 6, 15, 0.7);
            --lumo-shade-80pct: rgba(7, 6, 15, 0.8);
            --lumo-shade-90pct: rgba(7, 6, 15, 0.9);
            --lumo-primary-text-color: rgb(64, 146, 176);
            --lumo-primary-color-50pct: rgba(64, 146, 176, 0.5);
            --lumo-primary-color-10pct: rgba(64, 146, 176, 0.1);
            --lumo-error-text-color: rgb(255, 56, 103);
            --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
            --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
            --lumo-success-text-color: rgb(20, 184, 143);
            --lumo-success-color-50pct: rgba(20, 184, 143, 0.5);
            --lumo-success-color-10pct: rgba(20, 184, 143, 0.1);
            --lumo-shade: hsl(249, 46%, 4%);
            --lumo-primary-color: hsl(196, 47%, 47%);
            --lumo-error-color: hsl(346, 100%, 61%);
            --lumo-success-color: hsl(165, 80%, 40%);
            --lumo-success-contrast-color: #2D2C29;
            --lumo-tint-5pct: rgba(252, 245, 255, 0.05);
            --lumo-tint-10pct: rgba(252, 245, 255, 0.1);
            --lumo-tint-20pct: rgba(252, 245, 255, 0.2);
            --lumo-tint-30pct: rgba(252, 245, 255, 0.3);
            --lumo-tint-40pct: rgba(252, 245, 255, 0.4);
            --lumo-tint-50pct: rgba(252, 245, 255, 0.5);
            --lumo-tint-60pct: rgba(252, 245, 255, 0.6);
            --lumo-tint-70pct: rgba(252, 245, 255, 0.7);
            --lumo-tint-80pct: rgba(252, 245, 255, 0.8);
            --lumo-tint-90pct: rgba(252, 245, 255, 0.9);
            --lumo-base-color: hsl(255, 2%, 12%);
            --lumo-tint: hsl(285, 100%, 98%);
            --lumo-header-text-color: hsl(285, 100%, 98%);
            --lumo-body-text-color: hsla(285, 96%, 96%, 0.9);
            --lumo-secondary-text-color: hsla(285, 87%, 92%, 0.7);
            --lumo-tertiary-text-color: hsla(285, 78%, 88%, 0.5);
            --lumo-disabled-text-color: hsla(285, 69%, 84%, 0.32);
        }

    </style>
</custom-style>
